<div class="col-sm-2" id="left-nav">
    <a href="/user" class="list-group-item">
        用户管理</a>
    <a href="/goods/index" class="list-group-item">
        商品管理</a>
    <a href="/goods/add" class="list-group-item">
        商品添加</a>

    <a href="/type/index" class="list-group-item">分类管理</a>
    <a href="/type/add" class="list-group-item">
        类别添加</a>
    <a href="/cart" class="list-group-item">
        购物车管理</a>
    <a href="/list/index" class="list-group-item">
        订单管理</a>
    <a href="/address/index" class="list-group-item">
        地址管理</a>

</div>

<script>
    let a=document.getElementById("left-nav").getElementsByTagName("a");
    if(window.location.pathname=="/type/edit") a[3].setAttribute("class", "list-group-item active");
    else{
        for(i=0;i<a.length;i++){
            if(a[i].getAttribute("href")==window.location.pathname) {
                a[i].setAttribute("class", "list-group-item active");
                break;
            }
        }
    }


</script>